<link rel="shortcut icon" href="{% snap_path %}/files/favicon.ico">
<script type="text/javascript">

  // {% live_js %}

</script>
<style>
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto 51px auto;
  padding: 45px;
  border:1px solid rgba(27,31,35,0.15);
  border-radius:0 0 3px 3px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.top-bar{
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  background-color: #f6f8fa;
  border:1px solid rgba(27,31,35,0.15);
  border-radius:3px 3px 0 0;
  border-style: solid solid none;
  margin: 64px auto 0;
  width: 100%;
  padding: 9px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 85%;
}

.file-name {
	margin-left: 22px;
}

/* {% github_css %} */

</style>


<div class="top-bar">
	<svg style="position: absolute; padding: 2px 0 0 1px;" height="12px" width="16px" viewBox="2 2 13 12" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path></svg>
	<div class="file-name">
		{% title %}
	</div>
</div>
<div class="markdown-body">
